@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;900&family=Six+Caps&display=swap");
@import url("fontawesome-all.min.css");

@font-face {
  font-family: "Playlist";
  src: url("../webfonts/Playlist-Script.ttf.woff") format("woff"),
    url("../webfonts/Playlist-Script.ttf.svg#Playlist-Script") format("svg"),
    url("../webfonts/Playlist-Script.ttf.eot"),
    url("../webfonts/Playlist-Script.ttf.eot?#iefix")
      format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --one: #808c3d;
  --two: #667800;
  --three: #884920;
  --dark: black;
  --light: white;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
}

a {
  text-decoration: none;
  color: var(--dark);
}

a:hover {
  color: var(--one);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playlist";
}

h1 {
  font-size: 3rem;
}

p {
  color: var(--dark);
}

.bold1 {
  font-weight: 600 !important;
}

.bold {
  font-weight: 500 !important;
}

td {
  font-weight: 300;
  padding: 0.5rem 0;
}

td:nth-of-type(odd) {
  font-weight: 600;
}

.playlist {
  font-family: "Playlist";
  font-size: 2rem;
}
